body {
    background-image: url(./images/gucci-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 130px;
}
#GButton {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    color: rgb(255, 235, 238);
}
.social {
    display: flex;
    justify-content: center;
    list-style: none;
}
.icons {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: 40px;
    
}
.footer {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
span.top-icons {
    padding-left: 1px;
    padding-right: 1px;
}
span {
    padding-left: 20px;
    padding-right: 20px;
}
.carousal-image {
    background-size: cover;
}
#carouselDark {
    padding-bottom: 50px;
}
h6 {
    display: flex;
    justify-content: center;
    margin-top: 500px;
}
#contact {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
img {
    object-fit: fill;
}
h5 {
    color: white;
}